<div class="container-fluid p-md-5 p-sm-3 background--dark">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-5 text-lg-right hidden-until-lg">
            <h3><%= image_tag "profile_sm.jpg", :class => "m-0", :style => "border-radius:50%;max-height:80px;" %></h3>
        </div>

        <!-- name -->
        <div class="col-12 col-md-8 col-lg-5 text-center text-lg-left mt-3 mt-lg-0">
            <a href="/" class="no-decoration">
                <h1 class="typewriter font-family-mono mt-md-1">
                    <span class="typewriter-text" style="animation: typing 10s steps(<%= @steps %>, end) infinite, blink .75s step-end infinite;"><%= @typewriter %></span>
                </h1>
            </a>
            <% if @location.nil? %>
                <p class="mb-0"><i class="fas fa-map-marker-alt"></i> No location</p>
            <% else %>
                <p class="mb-0"><a href="https://www.google.com/maps?q=<%= @location %>" target="_blank"><i class="fas fa-map-marker-alt"></i> <%= @location %></a></p>
            <% end %>
        </div>

        <!-- description -->
        <div class="col-12 col-md-8 text-center mt-3 mt-md-5">
            <% if @description.nil? %>
                <p class="font-size-medium mb-0">No description (is Twitter down?)</p>
            <% else %>
                <p class="font-size-medium mb-0">
                    <% @description.split().each do |word| %>
                        <% if word[0] == '@' %>
                            <a href="https://twitter.com/<%= word[1..999] %>" target="_blank"><%= word %></a>
                        <% elsif word[0] == '#' %>
                            <a href="https://twitter.com/hashtag/<%= word[1..999] %>" target="_blank"><%= word %></a>
                        <% else %>
                            <%= word %>
                        <% end %>
                    <% end %>
                </p>
            <% end %>
        </div>
    </div>
</div>