<%= render 'navigation' %>

<div class="container-fluid p-md-5 p-sm-3">
    <!-- header -->
    <div class="row justify-content-center mb-3">
        <div class="col-12 col-md-10">
            <h1><%= @meta_title %></h1>
        </div>
        <div class="col-12 col-md-10 mt-3">
            <div class="divider"></div>
        </div>
    </div>
    <!-- image -->
    <div class="row justify-content-center mb-3">
        <div class="col-12 col-md-10 hidden-until-lg">
            <h3><%= image_tag "banner.jpg", :class => "m-0", :style => "max-width:100%;" %></h3>
        </div>
        <div class="col-12 col-md-10 mt-3 hidden-until-lg">
            <div class="divider"></div>
        </div>
        <div class="col-12 col-md-10 mt-lg-3" style="column-count: 2;">
            <p class="mb-3">I enjoy building things -- idea to product -- and have worked on multiple projects over the years, often to solve a problem, but also exploratory; to develop new interests and technical skills.</p>

            <p class="mb-3">I take a generalist approach to learning and personal development, awake hours are typically split between: working on projects, including learning new technologies and solving domain-specific problems; studying (mostly) technical subjects, such as computing, mathematics, finance, economics, and biology; and exercise, in particular mountain biking, road cycling, weight-lifting, and swimming.</p>

            <!-- <p class="mb-0">I am currently building a collaborative investment management platform to make it easier to invest better together at <a href="https://eqzen.com">EQZEN</a>.</p> -->
        </div>
        <div class="col-12 col-md-10 mt-3">
            <div class="divider"></div>
        </div>
    </div>
    <!-- interests -->
    <!-- <div class="row justify-content-center mb-3">
        <div class="col-12 col-md-10 mb-3">
            <h2>Areas of interest</h2>
        </div>
        <div class="col-12 col-md-10 mb-3">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 border-left">
                        <p class="text-small text-muted font-family-mono m-0">software development, web technologies, programming languages, machine learning, neural networks, knowledge reasoning, parallel programming</p>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- education -->
    <div class="row justify-content-center mb-3">
        <div class="col-12 col-md-10 mb-3">
            <h2>Education</h2>
        </div>
        <div class="col-12 col-md-10 mb-3">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 border-left">
                        <!-- msc advanced computing -->
                        <span class="text-muted">
                            <p class="font-weight-bold m-0">Master of Science in Advanced Computing</p>
                            <p class="m-0">King's College London, London, UK <span class="float-right">(2020)</span></p>
                            <p class="">Currently enrolled</p>
                        </span>
                        <!-- bsc computing and it -->
                        <span>
                            <p class="font-weight-bold m-0">Bachelor of Science with Honours in Computing and Information Technology</p>
                            <p class="m-0">The Open University, Milton Keynes, UK <span class="float-right">2018</span></p>
                            <!-- <p class="m-0">Awards: Upper-second class</p> -->
                            <p>Main fields of study: Computer Science</p>
                        </span>
                        <!-- non-degree mathematics -->
                        <!-- <span>
                            <p class="m-0"><span class="font-weight-bold">Non-degree courses in Mathematics</span></p>
                            <p>The Open University, Milton Keynes, UK <span class="float-right">2014-2018</span></p>
                        </span> -->
                        <!-- non-degree natural science -->
                        <!-- <span>
                            <p class="m-0"><span class="font-weight-bold">Non-degree courses in Natural Science</span></p>
                            <p class="m-0">Karlstad University, Karlstad, Sweden <span class="float-right">2012-2013</span></p>
                        </span> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-10 mt-3">
            <div class="divider"></div>
        </div>
    </div>
    <!-- technical skills -->
    <div class="row justify-content-center mb-3">
        <div class="col-12 col-md-10 mb-3">
            <h2>Technical Skills</h2>
        </div>
        <div class="col-12 col-md-10 mb-3">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 border-left">
                        <!-- general -->
                        <p class="mb-3">I am a generalist software developer and work comfortably with multiple programming languages, including <a href="https://github.com/michaelsjoeberg?tab=repositories&q=&type=&language=java" target="_blank">Java, <a href="https://github.com/michaelsjoeberg?tab=repositories&q=&type=&language=python" target="_blank">Python</a>, Lua, <a href="https://github.com/michaelsjoeberg?tab=repositories&q=&type=&language=scala" target="_blank">Scala</a>, and <a href="https://github.com/michaelsjoeberg?tab=repositories&q=&type=&language=ruby" target="_blank">Ruby</a>. I am familiar with many software related tools, such as Mathematica, Photoshop, PhoneGap, and Corona SDK, and a few cloud platforms, such as AWS and Heroku, as well as various IDEs (but prefer Sublime Text).</p>
                        <ul>
                            <!-- web development -->
                            <li class="list-item">
                                <p class="mb-3"><span class="font-weight-bold">Web Development</span> I have considerable experience with full-stack web development and have created web applications for 10+ years (mainly working on own projects). I work comfortably with multiple web technologies, including HTML, CSS, jQuery (JavaScript), <a href="https://github.com/michaelsjoeberg?tab=repositories&q=&type=&language=php" target="_blank">PHP</a>, MySQL, Flask (Python), <a href="https://github.com/michaelsjoeberg/michaelsjoeberg.com-2.0.0" target="_blank">Ruby on Rails</a>, Sass, and MongoDB.</p>
                            </li>
                            <!-- data science -->
                            <li class="list-item">
                                <p class="m-0"><span class="font-weight-bold">Data Science</span> I have a strong background in mathematics, including coursework in multivariable calculus and mathematical statistics, and work comfortably with quantitative problems. I am proficient at working with real-world datasets using Python libraries, including NumPy, Pandas, and matplotlib, as well as SQL/ SPARQL, <a href="https://github.com/michaelsjoeberg/python-playground/tree/master/jupyter-notebooks" target="_blank">Jupyter Notebook</a>, and spreadsheet tools, such as Microsoft Excel.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-10 mt-3">
            <div class="divider"></div>
        </div>
    </div>
    <!-- other -->
    <!-- <div class="row justify-content-center mb-3">
        <div class="col-12 col-md-10 mb-3">
            <h2>Other</h2>
        </div>
        <div class="col-12 col-md-10 mb-3">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 border-left">
                        <span>
                            <p class="font-weight-bold m-0">Sole proprietorship</p>
                            <p>Sweden <span class="float-right">2010-2014</span></p>
                        </span>
                        <span>
                            <p class="font-weight-bold m-0">Swedish Armed Forces</p>
                            <p class="m-0">1st Marine Regiment. Berga, Sweden <span class="float-right">2009-2010</span></p>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <!-- course list -->

    <!-- header -->
    <div class="row justify-content-center mb-3">
        <div class="col-12 col-md-5">
            <h2>Course list</h2>
        </div>
        <div class="col-12 col-md-5 text-md-right">
            <input id="search" class="pl-3" name="search" placeholder="Search" type="text" data-list=".list" autocomplete="off" style="margin-top:9px;min-width:100%;">
        </div>
        <!-- <div class="col-12 col-md-10 mt-3">
            <div class="divider"></div>
        </div> -->
    </div>
    <!-- render course -->
    <div class="row justify-content-center">
        <div class="col-12 col-md-10">
            <div class="container-fluid">
                <div class="row list" style="border:1px solid rgba(23, 23, 23, 0.05);">
                    <% @courses.keys.each do |course| %>

                    <!-- header -->
                    <% if @courses[course]['date'].equal?(@courses.keys.first['date']) %>
                    <% @header = @courses[course]['date'] %>
                    <li class="list_header col-12 mb-3" style="background:rgba(23, 23, 23, 0.05);">
                        <p class="mt-2 mb-2"><%= @header %></p>
                    </li>
                    <% end %>

                    <!-- update header -->
                    <% if @courses[course]['date'] != @header %>
                    <% @header = @courses[course]['date'] %>
                    <li class="list_header col-12 mb-3" style="background:rgba(23, 23, 23, 0.05);">
                        <p class="mt-2 mb-2"><%= @header %></p>
                    </li>
                    <% end %>

                    <li class="col-12 mb-3">
                        <div class="container-fluid p-0">
                            <div class="row">
                                <div class="col-12 col-md-8">
                                    <% unless @courses[course]['url'] == "" %>
                                        <a href="<%= @courses[course]['url'] %>" target="_blank"><%= course %></a>
                                    <% else %>
                                        <p class="text-muted m-0"><%= course %></p>
                                    <% end %>
                                    <p class="m-0"><%= @courses[course]['description'] %></p>
                                </div>
                                <div class="col-12 col-md-4 text-md-right mt-3 mt-md-0">
                                    <p class="text-muted m-0"><%= @courses[course]['school'] %></p>
                                    <!--
                                    <% unless @courses[course]['ects'].nil? %>
                                        <p class="text-muted m-0"><%= @courses[course]['ects'] %> ECTS</p>
                                    <% end %>
                                    <% unless @courses[course]['grade'].nil? %>
                                        <p class="text-muted m-0"><%= @courses[course]['grade'] %></p>
                                    <% end %>
                                    -->
                                </div>
                            </div>
                        </div>
                    </li>
                    <% end %>
                </div>
            </div>
        </div>
    </div>

</div>

<%= render 'footer' %> 