<%= render 'navigation' %>
<%= render 'navigation_curriculum' %>

<div class="container-fluid p-md-5 p-sm-3">
    
    <!-- header -->
    <div class="row justify-content-center mb-3">
        <div class="col-12 col-md-10">
            <h1><%= @meta_title %></h1>
        </div>
        <div class="col-12 col-md-10 mt-3">
            <div class="divider"></div>
        </div>
    </div>

    <!-- intro -->
    <div class="row justify-content-center mb-3">
        <div class="col-12 col-md-10 hidden-until-lg">
            <h3><%= image_tag "curriculum.jpeg", :class => "m-0", :style => "max-width:100%;" %></h3>
        </div>
        <div class="col-12 col-md-10 mt-3 hidden-until-lg">
            <div class="divider"></div>
        </div>
        <div class="col-12 col-md-10 mt-lg-3" style="column-count: 2;">
            
            <p class="font-family-serif mb-3">This is a flexible, complete, self-taught, and textbook-based alternative to undergraduate and graduate-level courses in computer science and engineering (minus laboratory experience). You can start at any level or section, but later sections generally assumes familiarity with previous sections (in particular mathematics).</p>

            <p class="font-family-serif mb-3">List of resources are loosely based on course offerings at top US universities, as well as <a href="https://www.kcl.ac.uk/study/postgraduate/taught-courses/advanced-computing-msc" target="_blank">King's College London</a> (which I attended). It will be updated a few times per year to keep resources up to date, or otherwise replace with better alternatives.</p>

            <p class="font-family-serif mb-3"><span class="font-weight-bold">Prerequisites: </span> You should be familiar with computers in general and able to solve problems using basic mathematical methods from <a href="https://www.khanacademy.org/math/precalculus" target="_blank">Precalculus</a>, <a href="https://www.khanacademy.org/math/differential-calculus" target="_blank">Differential calculus</a>, <a href="https://www.khanacademy.org/math/integral-calculus" target="_blank">Integral calculus</a>, and <a href="https://www.khanacademy.org/math/multivariable-calculus" target="_blank">Multivariable calculus</a>.</p>
        </div>
        <div class="col-12 col-md-10 mt-3">
            <div class="divider"></div>
        </div>
    </div>

    <!-- levels -->
    <% @curriculum.keys.each do |level| %>
        <div class="row justify-content-center mb-3">
            <!-- title -->
            <div class="col-12 col-md-10 mb-3 mt-3">
                <h2 id="<%= level %>" class="font-weight-bold">
                    <a href="#<%= level %>" data-turbolinks="false"><%= level %>: <%= @curriculum[level]['title'] %></a>
                </h2>
            </div>
        </div>

        <!-- render level -->
        <div class="row justify-content-center">
            <div class="col-12 col-md-10">
                <div class="container-fluid">
                    <div class="row list" style="border:1px solid rgba(23, 23, 23, 0.05);">
                        
                        <!-- subject -->
                        <% @curriculum[level].keys.drop(1).each do |subject| %>
                            <li class="list_header col-12" style="background:rgba(23, 23, 23, 0.05);border-bottom: 1px solid rgba(255, 255, 255, 1);">
                                <p class="mt-2 mb-2 font-weight-bold"><%= subject.titleize.upcase %></p>
                            </li>

                            <!-- topic -->
                            <% @curriculum[level][subject].keys.each do |topic| %>
                                <li class="list_header col-12 mb-3" style="background:rgba(23, 23, 23, 0.05);">
                                    <p class="mt-2 mb-2"><%= topic.titleize(exclude: @EXCLUSIONS) %></p>
                                </li>

                                <!-- resources -->
                                <% @curriculum[level][subject][topic]['resources'].each do |resource| %>

                                    <li class="col-12 mb-3">
                                        <div class="container-fluid p-0">
                                            <div class="row">
                                                <div class="col-12 col-md-8">
                                                    <a href="<%= resource['url'] %>" target="_blank"><%= resource['title'] %></a>
                                                </div>
                                                <div class="col-12 col-md-4 text-md-right mt-3 mt-md-0">
                                                    <p class="text-muted m-0">ISBN: <%= resource['ISBN'] %></p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                <% end %>
                            <% end %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>

    <% end %>

</div>

<%= render 'footer' %> 