<%= render 'header' %> 
<%= render 'navigation' %> 

<div class="container p-md-5 p-sm-3">

    <!-- render posts -->
    <div class="row justify-content-center">
        <!-- title -->
        <div class="col-12 col-md-10">
            <h1 class="font-family-serif font-weight-bold">
                <a href="/<%= @route_path %>/<%= @date %>"><%= @title %></a>
            </h1>
            <!-- date -->
            <p class="text-muted mb-0"><%= Date.parse(@date).strftime("%B %d, %Y") %></p>
        </div>
        <div class="col-12 col-md-10 my-3">
            <div class="divider--bold"></div>
        </div>
        <!-- body -->
        <div class="col-12 col-md-10">
            <div class="container-fluid">
                <div class="row ">
                    <div class="col-12 font-family-serif p-0">
                        <% @lines.drop(3).each do |line| %>
                            <%= CommonMarker.render_html(line).html_safe %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-10 my-3">
            <div class="divider"></div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-12 col-md-10 text-md-center">
            <p class="m-0"><a href="/posts">Browse all posts</a></p>
        </div>
    </div>

</div>

<%= render 'footer' %> 
