<%= render 'header' %> 
<%= render 'navigation' %> 

<div class="container-fluid p-0 mt-5">
    <!--
    <% @consulting.keys.each do |outer| %>
    <div class="row justify-content-center m-0 mb-3">
        <div class="col-12 col-md-6 pl-0">
            <h3 class="mb-3 text-md-right">
                <%= outer.titleize %>
            </h3>
        </div>
        <div class="col-12 col-md-6 pl-0">
            <div class="container-fluid p-0">
                <div class="row justify-content-center m-0">
                    <% @consulting[outer].keys.each do |inner| %>
                    <div class="col-12 pl-3 border-left p-3 mb-3">
                        <%  # get current BTC/USD exchange rate
                            url = 'https://blockchain.info/tobtc?currency=USD&value=' + @consulting[outer][inner]['price']
                            
                            begin
                                @price_in_btc = HTTParty.get(url).parsed_response
                            rescue
                                @price_in_btc = "-"
                            end
                        %>
                        <p class="m-0"><span class="font-weight-bold"><%= inner %></span></p>
                        <p class="m-0"><%= @consulting[outer][inner]['description'] %></p>
                        <p class="text-small text-muted m-0 font-family-mono">
                            cost estimation: USD <%= number_with_delimiter(@consulting[outer][inner]['price'], :delimiter => ',') %> [BTC <%= @price_in_btc.to_f.round(2) %>]
                        </p>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
    <% end %>
    -->
    <!-- <div class="row justify-content-center">
        <div class="col-12 text-center mb-3">
            <p class="m-0">Need help with something else? <a href="mailto:michael@sjoeberg.co">Contact me</a></p>
        </div>
    </div> -->
    <div class="row justify-content-center">
        <div class="col-12 text-center mb-3">
            <p class="m-0">I am currently not interested in consulting, but always open to chat about ideas with potential co-founders! <a href="mailto:michael@sjoeberg.co">Contact me</a></p>
        </div>
    </div>
</div>

<%= render 'footer' %> 
