<%= render 'navigation' %> 

<div class="container-fluid p-md-5 p-sm-3">
    <!-- header -->
    <div class="row justify-content-center mb-3">
        <div class="col-12 col-md-10">
            <h1><%= @meta_title %></h1>
        </div>
        <div class="col-12 col-md-10 mt-3">
            <div class="divider"></div>
        </div>
    </div>
    <!-- render posts -->
    <% @projects.keys.each do |project| %>
        <% unless @counter == 4 %>

            <div class="row justify-content-center mb-3">
                <!-- title -->
                <div class="col-12 col-md-10 mb-3">
                    <h2>
                        <a href="<%= @projects[project]['url'] %>" target="_blank"><%= project %></a>
                    </h2>
                    <!-- roles -->
                    <% if @projects[project]['roles'] != [] %>
                    <p class="m-0">
                        <% @projects[project]['roles'].each do |role| %>
                            <span><%= role.capitalize %><% unless role.equal?(@projects[project]["roles"].last) %> / <% end %></span>
                        <% end %>
                        <span class="float-right"><%= @projects[project]['date'].gsub('-', '-') %></span>
                    </p>
                    <% end %>
                    <!-- date -->
                    <!-- <p class="font-weight-bold text-muted"><%= @projects[project]['date'].gsub('-', '-') %></p> -->
                </div>
                <!-- body -->
                <% if @projects[project]['description'] != [] %>
                <div class="col-12 col-md-10 mb-3">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12 border-left">
                                <!-- description -->
                                <% @projects[project]['description'].each do |paragraph| %>
                                    <p class="<% unless paragraph.equal?(@projects[project]['description'].last) %>mb-3<% else %>m-0<% end %> font-family-serif"><%= paragraph %></p>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
                <% end %>
            </div>
        <% end %>
    <% end %>
</div>

<%= render 'footer' %> 
